.room-selector__header, .chat-input{
    /*Remove header and chat input*/
    visibility: hidden;
    position: absolute;
}

div[class*="scrollbar"] {
    /*Remove all scrollbars*/
    visibility:hidden;
    position:absolute;
}
.chat-list {
    /*Change chat background*/
    background: #123123;
}

div[class*="tw-border-l"] {
    /*Change border to background color*/
    border-left: 0px solid #123123 !important;
}

@keyframes slidein {
    /*Define animation*/
    0% {left:100%; opacity:1; position:relative;}
    10% {left:0%; position:relative;}
    90% {opacity:1; position:relative;}
    100% {opacity:0; position:relative;}
}

.chat-line__message {
    /*Create new style for chat lines*/
    font-size:12px;
    line-height:20px;
    padding:6px 20px;
    margin: 3px;
    /* Light theme:
    *   border: #bababa;
    *   background: #e3e3e3;
    * 
    * Dark theme:
    *   border: #585858;
    *   background: #3e3e3e;
    */
    opacity: 0;
    border: #bababa;
    background: #e3e3e3;
    border-style: outset;
    border-width: 5px;
    border-radius: 20px;
    position:absolute;
    animation-name:slidein;
    animation-duration:10s;
    animation-timing-function:ease-out;
}
* {
    /* Change all text to a color
     * Light theme:
     *   color: #3e3e3e!important;
     * Dark Theme:
     *   color: #e3e3e3!important;
     *  */
    color: #3e3e3e!important;
}
.chat-badge {
    /* Hide badges */
    position:absolute!important;
    visibility:hidden;
}

.chat-line__status {
    /* Hide admin messages ("welcome to the chat room", etc) */
    visibility: hidden;
    position: absolute!important;
}
