.room-selector__header, .chat-input{
  visibility: hidden;
  position: absolute;
}

div[class*="scrollbar"] {
    /*Make all scrollbars the background color*/
    visibility:hidden;
    position:absolute;
    background: #123123;
}
body, .chat-list {
    background: #123123;
}

@keyframes slidein {
    from {left:100%}
    to {left:0%}
}

.chat-line__message {
    font-size:12px;
    line-height:20px;
    padding:6px 20px;
    margin: 3px;
    /* Light theme:
    *   border: #bababa;
    *   background: #e3e3e3;
    * 
    * Dark theme:
    *   border: #585858;
    *   background: #3e3e3e;
    */
    border: #bababa;
    background: #e3e3e3;
    border-style: outset;
    border-width: 5px;
    border-radius: 20px;
    position:relative;
    animation-name:slidein;
    animation-duration:1s;
    animation-timing-function:ease-out;
}
* {
    /* Change all text to a color
     * Light theme:
     *   color: #3e3e3e!important;
     * Dark Theme:
     *   color: #e3e3e3!important;
     *  */
    color: #3e3e3e!important;
}
.chat-badge {
    /* Hide badges */
    position:absolute!important;
    visibility:hidden;
}

.chat-line__status {
    /* Hide admin messages ("welcome to the chat room", etc) */
    visibility: hidden;
    position: absolute!important;
}
